Language=简体中文
Prompt="./Congif/Prompt/Prompts.config"
CommonPrompt=masterpiece, best quality, extremely detailed CG unity 8k wallpaper, illustration
CommonNegativePrompt=lowres, bad anatomy, bad hands, text, error, missing fingers, extra digit, fewer digits, cropped, worst quality, low quality, normal quality, jpeg artifacts, signature, watermark, username, blurry, bad feet
